{% load static %}

<DOCTYPE html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html class="no-js " lang="en"> <!--<![endif]-->

<!-- HEAD -->
<head>
  {% include "escola/head.html" %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<!-- HEAD -->

<body>  

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59DGHVL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="https://f001.backblazeb2.com/file/site-code-gurus/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <!--Facebook curtir contador -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.3"></script>

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->
        
        <!-- HEADER BEGGINING -->
        {% include "escola/header.html" %}
        <!-- HEADER END -->


       	{% block content %}


		{% endblock content %}

        <!--PROXIMAS TURMAS-->
        <section class="section bgcolor2">
            <div class="container">
                <div class="row callout_2">
                    <div id="proximas_turmas" class="col-md-4 text-center" >
                        <h3 id="proximas_turmas-h3">Próximas turmas</h3>
                        <p>Fique de olho nas datas</p>
                        <div class="calendario_zoom">
                            <img  class= "calendario" src="https://f001.backblazeb2.com/file/site-code-gurus/novas_turmas/novas_turmas_agosto_2020.png">
                        </div>
                    </div><!-- end col -->


                        <div class="col-md-8" id="datas_turmas">
                            <p class="lead">Cursos
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"> Datas </i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-clock-o" aria-hidden="true"> Horários</i>
                            </p>
                            <a href="{% url 'djangomodulo1' %}"><p class="lead">Django mód 1 - 04/08 - segundas das 19 às 22h</p></a>
                            <a href="{% url 'djangomodulo1' %}"><p class="lead">Django mód 2 - 06/08 - quintas das 19 às 22h</p></a>
                        </div>
                    </div><!-- end row -->
                </a>
            </div><!-- end container -->
        </section>
        <!--end PROXIMAS TURMAS-->
        
        <!-- FOOTER BEGING -->
        {% include "escola/footer.html" %}
        <!-- FOOTER END -->

         <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="cop-logo">
                            <a href="{% url 'indice' %}"><img src="{% static 'escola/css/images/logo.png' %}" alt=""></a>
                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="footer-links">
                            <ul class="list-inline">
                                <li>Desenvolvido por: <a href="https://www.linkedin.com/in/fabio-reis-classo-46881425/">Fabio Classo</a></li>
                                <li>Distribuido por: <a href="https://www.floripacodegurus.com.br" target="_blank">Floripa Code Gurus</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->
    </div><!-- end wrapper -->

    <!-- jQuery Files -->
    <script src="{% static 'escola/js/jquery.min.js' %}"></script>
    <script src="{% static 'escola/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'escola//js/carousel.js' %}"></script>
    <script src="{% static 'escola/js/animate.js' %}"></script>
    <script src="{% static 'escola/js/custom.js' %}"></script>

    <!-- VIDEO BG PLUGINS -->
    <script src="{% static 'escola/js/videobg.js' %}"></script>

    <!-- Twitter universal website tag code -->
    <script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
    a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','o24vr');
    twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->

    </body>
</html>