{% extends 'escola/base.html' %}

{% block content %}


        <!--PARALLAX-->
        <section id="parallax"class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url('https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/sourcedna.gif');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message event-title text-center">
                            <h3 id="frase-message-h3">BioPython</h3>

                            <p id="frase">Sua carreira em Computação biológica e Bioinformática começa aqui</p>
                        </div>
                    </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        

        <section class="section">
            <div class="container">
                <div class=" ">
                    <div class="row">
                        <div class="col-md-6 shop-media">
                            <div class="row">
                                <div class="col-md-12">
                                <div class="image-wrap entry">
                                    <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/banner_800_800_biopython1.png" alt="" class="img-responsive">
                                    <div class="magnifier" id="texto_azul">
                                        <a rel=""title=""><h4>
                                            BioPython módulo 1</h4>
                                            <p>Domine essa poderosa ferramenta de Biotecnologia</p></a>
                                    </div>
                                </div><!-- end image-wrap -->
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">

                           <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="image-wrap entry">
                                        <div class="zoom">
                                            <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/banner_800_800_biopython2.png" alt="" class="img-responsive">    
                                        </div><!-- end zoom -->
                                    </div><!-- end image-wrap -->
                                </div> 

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="image-wrap entry">
                                        <div class="zoom">
                                            <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/banner_800_800_biopython3.png" alt="" class="img-responsive">
                                        </div><!-- end zoom -->
                                    </div><!-- end image-wrap -->
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="image-wrap entry">
                                        <div class="zoom">
                                            <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/banner_800_800_biopython.jpg" alt="" class="img-responsive">
                                        </div><!-- end zoom -->
                                    </div><!-- end image-wrap -->
                                </div>
                            </div><!-- end row -->
                        </div><!-- end col -->

                        <div class="col-md-6">
                            <div class="shop-desc">
                                <h3>BioPython módulo 1</h3>
                                <small>R$990,00</small>
                                <p id="descricao-p"><a href="https://biopython.org/">Biopython</a> é um conjunto de ferramentas disponíveis gratuitamente para computação biológica, escritas em Python por uma equipe internacional de desenvolvedores.
                                </p>
                                <p id="descricao-p">É um esforço colaborativo distribuído para desenvolver bibliotecas e aplicativos Python que atendam às necessidades do trabalho atual e futuro em bioinformática. O código-fonte é disponibilizado sob a Licença Biopython, que é extremamente liberal e compatível com quase todas as licenças do mundo.
                                </p>
                                <p id="descricao-p">Biopython segue as convenções usadas pela linguagem de programação Python para tornar mais fácil para os usuários familiarizados com a linguagem. Por exemplo, os objetos Seq e SeqRecord podem ser manipulados via fatiamento, de maneira semelhante às strings e listas do Python. 
                                </p>
                                <p id="descricao-p">Um conceito central em Biopython é a sequência biológica, e isso é representado pela classe Seq.</p>
                                <p id="descricao-p">Mais detalhes na descrição do curso</p>
                                <div id="professor-div" class="shop-meta">
                                     <!-- INICIO DO BOTAO PAYPAl -->
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="6TE4Y64DDVU7E">
                                    <input id="botao-paypal-pagseguro"type="image" src="https://f001.backblazeb2.com/file/site-code-gurus/images/checkout-logo-small-alt-en-2x.png" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                                    <!-- FIM DO BOTAO PAYPAl -->


                                     <!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7UTNUPkX5/button" target="_blank" title="Pagar com PagSeguro"><img id="botao-paypal-pagseguro" src="https://f001.backblazeb2.com/file/site-code-gurus/promo/botao-pagseguro-medio.png" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a><!-- FIM DO BOTAO PAGSEGURO -->

                                    <ul class="list-inline">
                                        <li  id="categorias-li"><strong><a href="python1.html">Categorias:</strong> Trilha Python, Bioinformática</a></li>

                                        <li id="professor-p"><strong><a href="#">Professor:</strong> Dr. Paulo Sérgio Schlögl</a></li>
                                    </ul>
                                </div><!-- end shop meta -->
                            </div><!-- end desc -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="row">   
                        <div class="col-md-12">
                            <div class="shop-extra">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">Descrição</a></li>
                                    <li><a data-toggle="tab" href="#menu1">Ementa do Curso</a></li>
                                    <!-- <li><a data-toggle="tab" href="#menu2">Reviews (2)</a></li> -->
                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        
                                        <h4 id="curso">Anotação sequencial</h4>
                                        <p id="descricao-p">OA classe SeqRecord descreve seqüências, juntamente com informações como nome, descrição e recursos na forma de objetos SeqFeature. Cada objeto SeqFeature especifica o tipo do recurso e sua localização. Os tipos de recursos podem ser "gene", "CDS" (sequência de codificação), "zona de repetição", "parâmetro móvel" ou outros, e a posição dos recursos na sequência pode ser exata ou aproximada.</a>
                                        </p>
                                        <hr>
                                        
                                        <h4 id="curso">Input and Output</h4>
                                        <p id="descricao-p">O Biopython pode ler e gravar em vários formatos de sequência comuns, incluindo FASTA, FASTQ, GenBank, Clustal, PHYLIP e NEXUS. Ao ler arquivos, informações descritivas no arquivo são usadas para preencher os membros de classes Biopython, como SeqRecord. Isso permite que registros de um formato de arquivo sejam convertidos em outros.</p>

                                        <hr>
                                        <h4 id="curso">Acessando bancos de dados online</h4>
                                        <p id="descricao-p">Por meio do módulo <strong>Bio.Entrez</strong>, os usuários do Biopython podem baixar dados biológicos de bancos de dados do <a href="https://www.ncbi.nlm.nih.gov/">NCBI</a>. Cada uma das funções fornecidas pelo mecanismo de busca Entrez está disponível através das funções deste módulo, incluindo a busca e o download de registros.</p>

                                        <hr>
                                        <h4 id="curso">Filogenia</h4>
                                        <p id="descricao-p">O módulo <strong>Bio.Phylo</strong> fornece ferramentas para trabalhar e visualizar árvores filogenéticas. Uma variedade de formatos de arquivo é suportada para leitura e gravação, incluindo Newick, NEXUS e phyloXML. Manipulações e travessias de árvore comuns são suportadas através dos objetos Tree e Clade. Os exemplos incluem a conversão e o agrupamento de arquivos de árvores, a extração de subconjuntos de uma árvore, a alteração da raiz de uma árvore e a análise de recursos de ramificação, como comprimento ou pontuação.</p>

                                        <hr>
                                        <h4 id="curso">Sistema de Templates</h4>
                                        <p id="descricao-p">O Django tem uma linguagem de templates poderosa, extensível e amigável. Com ela você pode separar design, conteúdo e código em Python. </p>

                                        <hr>
                                        <h4 id="curso">Diagrama Genômico</h4>
                                        <p id="descricao-p">O módulo GenomeDiagram fornece métodos de visualização de sequências dentro do Biopython.Sequências podem ser desenhadas de forma linear ou circular , e muitos formatos de saída são suportados, incluindo PDF e PNG. Os diagramas são criados ao criar faixas e adicionar recursos de sequência a essas faixas. Fazendo um loop sobre os recursos de uma sequência e usando seus atributos para decidir se e como eles são adicionados às trilhas do diagrama, pode-se exercer muito controle sobre a aparência do diagrama final. Os links cruzados podem ser traçados entre trilhas diferentes, permitindo comparar várias seqüências em um único diagrama.
                                        </p>

                                        <hr>
                                        <h4 id="curso">Estrutura Macromolecular</h4>
                                        <p id="descricao-p">O módulo <stromg>Bio.PDB</stromg> pode carregar estruturas moleculares de arquivos PDB e mmCIF e foi adicionado ao Biopython em 2003. O objeto Estrutura é central para este módulo e organiza a estrutura macromolecular de maneira hierárquica: Os objetos Estrutura contêm objetos Modelo que contêm objetos Cadeia que contêm objetos Resíduo que contêm objetos Atom. Os resíduos e átomos desordenados recebem suas próprias classes, DisorderedResidue e DisorderedAtom, que descrevem suas posições incertas.</p>

                                        <hr>
                                        <h4 id="curso">Genética Populacional</h4>
                                        <p id="descricao-p">O módulo <strong>Bio.PopGen</strong> adiciona suporte ao Biopython para Genepop, um pacote de software para análise estatística da genética de populações.Isto permite análises do equilíbrio de Hardy-Weinberg, desequilíbrio de ligação e outras características das frequências alélicas de uma população.</p>

                                        <hr>
                                        <h4 id="curso">Ferramentas de linha de comando</h4>
                                        <p id="descricao-p">Muitos dos módulos do Biopython contêm wrappers de linha de comando para ferramentas comumente usadas, permitindo que essas ferramentas sejam usadas dentro do Biopython. Esses wrappers incluem BLAST, Clustal, PhyML, EMBOSS e SAMtools. Os usuários podem criar uma subclasse de uma classe wrapper genérica para adicionar suporte a qualquer outra ferramenta de linha de comando.</p>
                                        <hr>
                                        <h4 id="curso">Ferramentas utilizadas no curso:</h4>
                                        <ul id="decricao-ul">
                                            <li><a href="https://jupyter.org/">Jupyter Notebooks</a></li>
                                            <li><a href="https://www.anaconda.com/">Anaconda</a></li>
                                            <li><a href="https://www.python.org/">Python 3</a></li>
                                            
                                        </ul>
                                        <hr>
                                         <h4 id="curso">Alguns dos temas abordados neste curso:</h4>
                                        <ul id="decricao-ul">
                                            <li>Introdução ao Biopython</li>
                                            <li>Objetos Sequence</li>
                                            <li>Sequências e seus alfabetos</li>
                                            <li>Transformando Objetos Seq em 'strings'</li>
                                            <li>Objetos Sequence annotation</li>
                                            <li>Objeto SeqRecord</li>
                                            <li>Criando um objeto SeqRecord</li>
                                            <li>Arquivos FASTA</li>
                                            <li>Arquivos do GenBank</li>
                                            <li>Sequence Input/Output (SeqIO)</li>
                                            <li>Fazendo o parsing de arquivos do GenBank da Internet</li>
                                            <li>Fazendo o parsing de arquivos SwissProt
                                            </li>
                                            <li>Acessando os bancos de dados do NCBI</li>
                                            <li>EInfo: obtendo informações sobres os bancos de dados do Entrez</li>
                                            <li>Parsing huge Entrez XML files</li>
                                            <li>PubMed and Medline</li>
                                            <li>Swiss-Prot and ExPASy</li>
                                            <li>Fazendo buscas no banco de dados do Prosite</li>
                                            <li>Analise de motivos em sequências utilizando o módulo Bio.motifs</li>
                                            <li>Genetica de populações com o módulo Bio.PopGen</li>
                                            <li>KEGG</li>
                                            <li>Objetos Multiple Sequence Alignment</li>
                                        </ul>
                                        <p id="descricao-p">A ementa completa está disponível para download na seção ao lado.</p>
                                    </div>


                                    <div id="menu1" class="tab-pane fade">
                                        <h3>Faça Download da ementa do curso</h3>
                                        <strong><p><a href="#">Professor Dr. Paulo Sérgio Schlögl</a></p></strong>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><strong>formato PDF</strong></td>
                                                    <td><a href="https://drive.google.com/open?id=1Q5WQzleZKJz-TPPEcapPSq6Bxzi8T-xD">ementa completa</a></td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    </div>
                                </div>
                            </div><!-- end shop-extra -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">

                   
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>


{% endblock content %}
