{% load static %}
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-59DGHVL');</script>
    <!-- End Google Tag Manager -->

    <!-- Site Meta -->
    <title>Floripa Code Gurus</title>
    <meta name="keywords" content="Python, Django, Kivy, Data Science, Ciência de dados, Big Data, PostgreSql, BioPython, Pandas, Numpy, Matplotlib, C#, CSharp, logica de programação, banco de dados, Front-end, Back-end ">

    <meta name="description" content="Aprenda programação Python para desenvolvimento de aplicações Desktop, Web, Mobile, Ciência de dados, Big Data,BioTecnologia e Bioinformática, Robótica Kids, Arduino, Marketing Digital, PHP, Java ,Ruby e C#, CSharp, logica de programação, banco de dados,  Front-end e  Back-end">
    <meta name="author" content="Floripa Code Gurus">

    <meta name="robots" content="index,follow" />

    <!--SITE LOCK VEIRIFICATION-->
    <meta name="sitelock-site-verification" content="9462" />
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="/escola/css/images/favicon.ico" type="image/x-icon" />
<!--    <link rel="apple-touch-icon" href="/escola/static/css/images/apple-touch-icon.png">-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139868810-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-139868810-1');
    </script>

    <meta name="google-site-verification" content="UPyBbVphEji-ucJT4hbC5X4PuJXxGKVJpEdN1fOhFuM" />
    
    <!-- Custom & Default Styles -->

    <link rel="stylesheet" href="{% static 'escola/css/mobile.css' %}" media="screen and (max-width: 768px)">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/mystyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/style.css' %}">
    <!--[if lt IE 9]>
        <script src="escola/static/js/vendor/html5shiv.min.js"></script>
        <script src="escola/static/js/vendor/respond.min.js"></script>
    <![endif]-->


    <!--MAIL CHIP MODAL -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/7a35a165b6daddff16e71de51/aef07b024ce0ba72036598ead.js");
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '671511103311444');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=671511103311444&ev=PageView&noscript=1"
    />
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>