{% extends 'escola/base.html' %}
{% load static %}

{% block content %}
        <!--PARALLAX-->
        <section id="parallax"class="parallax event-section" data-stellar-background-ratio="0.5"
                 style="background-image:url('https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/bigdata.gif');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message event-title text-center">
                            <h1 id="aprenda-programar">Aprenda a programar e ganhe super poderes</h1>
                            <br>
<!--                            <small id="small-index1">Aqui na Floripa Code Gurus você fará parte de um ambiente inovador,-->
<!--                                onde o objetivo não é apenas o ensino de Linguagens de Programação e sim prepará-lo para os desafios do dia a dia do desenvolvedor.-->
<!--                                <br>Nada de exemplo "foo bar", vamos aplicar nosso código a problemas reais. <br>Venha ser um Gurú!</small>-->
                        </div>
                        <div class="btn-wrapper">
                            <div class="text-center">
                                <a id="home-buttons" href="{% url 'tutoriais' %}" class="btn btn-primary wow slideInLeft">Tutoriais</a>
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <!-- TUTORIAIS SECTION INICIO -->
        <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h1 id="nossos-tutoriais-h1-home">Nossos Tutoriais</h1>
                    <p id="texto-home-p">Confira nossos tutoriais mais recentes, criados por desenvolvedores e pesquisadores profissionais. Aprenda na prática com exemplos reais e dicas valiosas.</p>
                </div><!-- end title -->

                <!-- Using same carousel as courses section -->
                <div id="owl-tutorials" class="owl-carousel owl-theme owl-theme-01">
                    {% for tutorial in tutoriais %}
                    <div class="caro-item">
                        <div class="tutorial-card">
                            <div class="image-wrap entry tutorial-image-container">
                                {% if tutorial.imagem %}
                                <img src="{{ tutorial.imagem.url }}" alt="{{ tutorial.titulo }}">
                                {% else %}
                                <img src="{% static 'escola/imagens/banner_tuto_guru.jpg' %}" alt="{{ tutorial.titulo }}">
                                {% endif %}
                                <div class="magnifier">
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="{{ tutorial.titulo }}" class="btn btn-primary">Ver Tutorial</a>
                                </div>
                            </div>
                            <div class="tutorial-details">
                                <h4 class="tutorial-title">
                                    <span class="badge badge-info tutorial-badge">{{ tutorial.categoria }}</span>
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="">{{ tutorial.titulo }}</a>
                                </h4>
                                <p class="tutorial-desc">{{ tutorial.descricao|truncatewords:20 }}</p>
                            </div>
                            <div class="tutorial-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><span class="tutorial-author"><i class="fa fa-user"></i> {{ tutorial.autor }}</span></li>
                                        <li><span class="tutorial-date"><i class="fa fa-clock-o"></i> {{ tutorial.data_criacao|date:"d/m/Y" }}</span></li>
                                        <li><span class="tutorial-nivel label {% if tutorial.nivel == 'Iniciante' %}label-success{% elif tutorial.nivel == 'Intermediário' %}label-warning{% else %}label-danger{% endif %}">{{ tutorial.nivel }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-md-12 text-center">
                        <p>Nenhum tutorial encontrado.</p>
                    </div>
                    {% endfor %}
                </div><!-- end owl-carousel -->
                
                <!-- Regular grid display as fallback -->
                <div class="row hidden-owl-tutorials">
                    {% for tutorial in tutoriais %}
                    <div class="col-md-4">
                        <div class="tutorial-card">
                            <div class="image-wrap entry tutorial-image-container">
                                {% if tutorial.imagem %}
                                <img src="{{ tutorial.imagem.url }}" alt="{{ tutorial.titulo }}">
                                {% else %}
                                <img src="{% static 'escola/imagens/banner_tuto_guru.jpg' %}" alt="{{ tutorial.titulo }}">
                                {% endif %}
                                <div class="magnifier">
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="{{ tutorial.titulo }}" class="btn btn-primary">Ver Tutorial</a>
                                </div>
                            </div>
                            <div class="tutorial-details">
                                <h4 class="tutorial-title">
                                    <span class="badge badge-info tutorial-badge">{{ tutorial.categoria }}</span>
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="">{{ tutorial.titulo }}</a>
                                </h4>
                                <p class="tutorial-desc">{{ tutorial.descricao|truncatewords:20 }}</p>
                            </div>
                            <div class="tutorial-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><span class="tutorial-author"><i class="fa fa-user"></i> {{ tutorial.autor }}</span></li>
                                        <li><span class="tutorial-date"><i class="fa fa-clock-o"></i> {{ tutorial.data_criacao|date:"d/m/Y" }}</span></li>
                                        <li><span class="tutorial-nivel label {% if tutorial.nivel == 'Iniciante' %}label-success{% elif tutorial.nivel == 'Intermediário' %}label-warning{% else %}label-danger{% endif %}">{{ tutorial.nivel }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}
                </div><!-- end row -->

                <hr class="invis">

                <div class="text-center">
                    <a href="{% url 'tutoriais' %}" class="btn btn-primary btn-lg">Ver todos os tutoriais</a>
                </div>
            </div><!-- end container -->
        </section>

        <!-- TESTIMONIALS-->
        <section class="section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>O que dizem sobre nossos tutoriais</h3>
                    <p id="texto-testimonials-p">Nossos tutoriais têm ajudado desenvolvedores de todos os níveis a aprender novas tecnologias e aprimorar suas habilidades. <br>Veja o que a comunidade tem a dizer sobre nosso conteúdo educacional.</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% static 'escola/images/testimonial_user1.jpg' %}" alt="" class="img-circle"> Ana Silva</strong></p>
                            <p id="texto-home-p">Os tutoriais de Python são excelentes! A explicação é clara e os exemplos práticos me ajudaram muito a entender conceitos que antes pareciam complicados. Consegui aplicar o que aprendi em meus projetos pessoais.</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% static 'escola/images/testimonial_user2.jpg' %}" alt="" class="img-circle">Carlos Santos</strong></p>
                            <p id="texto-home-p">Como desenvolvedor iniciante, encontrei nos tutoriais de Django uma base sólida para começar no desenvolvimento web. O conteúdo é bem estruturado e os exemplos são relevantes para o mundo real. Recomendo!</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% static 'escola/images/testimonial_user3.jpg' %}" alt="" class="img-circle">Maria Oliveira</strong></p>
                            <p id="texto-home-p">Os tutoriais de BioPython foram fundamentais para minha pesquisa acadêmica. A qualidade do conteúdo e a forma como os conceitos são apresentados tornaram meu aprendizado muito mais eficiente. Conteúdo de alta qualidade!</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock content %}

