{% extends 'escola/base.html' %}
{% load static %}

{% block content %}
        <!--PARALLAX-->
        <section id="parallax"class="parallax event-section" data-stellar-background-ratio="0.5"
                 style="background-image:url('https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/bigdata.gif');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message event-title text-center">
                            <h1 id="aprenda-programar">Aprenda a programar e ganhe super poderes</h1>
                            <br>
<!--                            <small id="small-index1">Aqui na Floripa Code Gurus você fará parte de um ambiente inovador,-->
<!--                                onde o objetivo não é apenas o ensino de Linguagens de Programação e sim prepará-lo para os desafios do dia a dia do desenvolvedor.-->
<!--                                <br>Nada de exemplo "foo bar", vamos aplicar nosso código a problemas reais. <br>Venha ser um Gurú!</small>-->
                        </div>
                        <div class="btn-wrapper">
                            <div class="text-center">
                                <a id="home-buttons" href="{% url 'tutoriais' %}" class="btn btn-primary wow slideInLeft">Tutoriais</a> &nbsp;&nbsp;&nbsp;<a id="home-buttons" href="#" class="btn btn-default wow slideInRight">Trabalhe conosco</a>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <!-- TUTORIAIS SECTION INICIO -->
        <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h1 id="nossos-tutoriais-h1-home">Nossos Tutoriais</h1>
                    <p id="texto-home-p">Confira nossos tutoriais mais recentes, criados por desenvolvedores e pesquisadores profissionais. Aprenda na prática com exemplos reais e dicas valiosas.</p>
                </div><!-- end title -->

                <!-- Using same carousel as courses section -->
                <div id="owl-tutorials" class="owl-carousel owl-theme owl-theme-01">
                    {% for tutorial in tutoriais %}
                    <div class="caro-item">
                        <div class="tutorial-card">
                            <div class="image-wrap entry tutorial-image-container">
                                {% if tutorial.imagem %}
                                <img src="{{ tutorial.imagem.url }}" alt="{{ tutorial.titulo }}">
                                {% else %}
                                <img src="{% static 'escola/imagens/banner_tuto_guru.jpg' %}" alt="{{ tutorial.titulo }}">
                                {% endif %}
                                <div class="magnifier">
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="{{ tutorial.titulo }}" class="btn btn-primary">Ver Tutorial</a>
                                </div>
                            </div>
                            <div class="tutorial-details">
                                <h4 class="tutorial-title">
                                    <span class="badge badge-info tutorial-badge">{{ tutorial.categoria }}</span>
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="">{{ tutorial.titulo }}</a>
                                </h4>
                                <p class="tutorial-desc">{{ tutorial.descricao|truncatewords:20 }}</p>
                            </div>
                            <div class="tutorial-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><span class="tutorial-author"><i class="fa fa-user"></i> {{ tutorial.autor }}</span></li>
                                        <li><span class="tutorial-date"><i class="fa fa-clock-o"></i> {{ tutorial.data_criacao|date:"d/m/Y" }}</span></li>
                                        <li><span class="tutorial-nivel label {% if tutorial.nivel == 'Iniciante' %}label-success{% elif tutorial.nivel == 'Intermediário' %}label-warning{% else %}label-danger{% endif %}">{{ tutorial.nivel }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-md-12 text-center">
                        <p>Nenhum tutorial encontrado.</p>
                    </div>
                    {% endfor %}
                </div><!-- end owl-carousel -->
                
                <!-- Regular grid display as fallback -->
                <div class="row hidden-owl-tutorials">
                    {% for tutorial in tutoriais %}
                    <div class="col-md-4">
                        <div class="tutorial-card">
                            <div class="image-wrap entry tutorial-image-container">
                                {% if tutorial.imagem %}
                                <img src="{{ tutorial.imagem.url }}" alt="{{ tutorial.titulo }}">
                                {% else %}
                                <img src="{% static 'escola/imagens/banner_tuto_guru.jpg' %}" alt="{{ tutorial.titulo }}">
                                {% endif %}
                                <div class="magnifier">
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="{{ tutorial.titulo }}" class="btn btn-primary">Ver Tutorial</a>
                                </div>
                            </div>
                            <div class="tutorial-details">
                                <h4 class="tutorial-title">
                                    <span class="badge badge-info tutorial-badge">{{ tutorial.categoria }}</span>
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="">{{ tutorial.titulo }}</a>
                                </h4>
                                <p class="tutorial-desc">{{ tutorial.descricao|truncatewords:20 }}</p>
                            </div>
                            <div class="tutorial-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><span class="tutorial-author"><i class="fa fa-user"></i> {{ tutorial.autor }}</span></li>
                                        <li><span class="tutorial-date"><i class="fa fa-clock-o"></i> {{ tutorial.data_criacao|date:"d/m/Y" }}</span></li>
                                        <li><span class="tutorial-nivel label {% if tutorial.nivel == 'Iniciante' %}label-success{% elif tutorial.nivel == 'Intermediário' %}label-warning{% else %}label-danger{% endif %}">{{ tutorial.nivel }}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}
                </div><!-- end row -->

                <hr class="invis">

                <div class="text-center">
                    <a href="{% url 'tutoriais_lista' %}" class="btn btn-primary btn-lg">Ver todos os tutoriais</a>
                </div>
            </div><!-- end container -->
        </section>

        <section class="section db">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">155</h4>
                            <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Estudantes satisfeitos</h3>
                            <p>Mais do que vender cursos, nosso objetivos é preparar para vida profissional. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">155</h4>
                            <h3><i class="flaticon-online-course"></i> Concluíram nossos cursos</h3>
                            <p>Ao final de cada módulo você receberá um certificado de conclusão de curso, contendo detalhes do que foi aprendido. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">1350</h4>
                            <h3><i class="flaticon-coffee-cup"></i>Exercício desenvolvidos</h3>
                            <p>Nosso repositório no git hub já conta com mais de 1300 exemplos de código para você se basear. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>


        <!-- TESTIMONIALS-->
        <section class="section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Testimonials</h3>
                    <p id="texto-testimonials-p">Um feedback honesto é importante no momento em que estamos procurando um produto ou serviço. <br>Veja o que nossos alunos tem a dizer de nossa Escola e de nossos cursos de formação profissional.</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/Cristiane+Ruedieger.jpeg" alt="" class="img-circle"> Cristiane Ruedieger</strong></p>
                            <p id="texto-home-p">Quando comecei o curso estava relutante pois achava que talvez nao conseguiria aprender! Porem o Professor Fabio tem uma metodologia de ensino muito boa, e é muito paciente! Estou indo para o Módulo 2 com a certeza de que saberei programar!</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/RodrigoNorbertodaSilveira.jpeg" alt="" class="img-circle">Rodrigo Norberto da Silveira</strong></p>
                            <p id="texto-home-p">Compartilho aqui minha experiência no curso de Python realizado no ano de 2018. Este curso me trouxe uma base de conhecimento no qual me ajudou a participar de dois projetos na empresa na qual trabalho hoje. Para mim foi interessante ter este curso de Python e poder me diferenciar dos demais e assim adquirir mais experiência. Afinal, conhecimento adquirido nunca e demais. Obrigado Fabio por esta experiência vivida em curso e espero que este seja somente o primeiro, pois logo pretendo me aprimorar ainda mais na linguagem Python.</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/testimonial_male.png" alt="" class="img-circle">Fabio Rigoli da Rosa</strong></p>
                            <p id="texto-home-p">Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock content %}

