<!DOCTYPE html>
<html lang="en">
<head>

    <!--classes metas de cada pagina-->
  <!-- Site Meta -->
    <title>BioPython - Floripa Code Gurus</title>

    <meta name="keywords" content="BioPython, Biotecnologia, Bioinformática, Biologia, Biomedicina, Genética, Molecular, Medicina">

    <meta name="description" content="O Biopython é um conjunto de ferramentas gratuitamente disponibilizadas para computação biológica. Estas ferramentas são desenvolvidas em Python por uma equipe internacional de desenvolvedores. um esforço colaborativo para desenvolver bibliotecas e aplicativos Python que atendam às necessidades do trabalho atual e futuro da bioinformática. O código-fonte é disponibilizado sob a Licença Biopython, que é extremamente liberal e compatível com quase todas as licenças do mundo.Biopython</a> fornece um recurso on-line para módulos, scripts e links da Web para desenvolvedores de software baseado em Python para uso e pesquisa de bioinformática.">


    <!-- Site Meta -->
    <title>Python básico</title>
    <meta name="keywords" content="Python, Django, Kivy, Data Science, Ciência de dados, Big Data, PostgreSql, BioPython, Pandas, Numpy, Matplotlib">

    <meta name="description" content="Python é uma linguagem de programação interpretada de alto nível para programação de propósito geral.Python possui uma filosofia de design que enfatiza a legibilidade do código e uma sintaxe que permite que os programadores expressem conceitos em menos linhas de código, principalmente usando espaços brancos significativos. Ele fornece construções que permitem uma programação clara em escalas pequenas e grandes.O Python possui um sistema de tipo dinâmico e gerenciamento automático de memória. Ele suporta múltiplos paradigmas de programação, incluindo orientado a objetos, imperativo, funcional e processual, e possui uma ampla e abrangente biblioteca padrão.">


    <!-- Site Meta -->
    <title>Python avançado</title>
    <meta name="keywords" content="Python, Django, Kivy, Data Science, Ciência de dados, Big Data, PostgreSql, BioPython, Pandas, Numpy, Matplotlib">


    <meta name="description" content="Python é uma linguagem de programação interpretada de alto nível para programação de propósito geral.Python possui uma filosofia de design que enfatiza a legibilidade do código e uma sintaxe que permite que os programadores expressem conceitos em menos linhas de código, principalmente usando espaços brancos significativos. Ele fornece construções que permitem uma programação clara em escalas pequenas e grandes.O Python possui um sistema de tipo dinâmico e gerenciamento automático de memória. Ele suporta múltiplos paradigmas de programação, incluindo orientado a objetos, imperativo, funcional e processual, e possui uma ampla e abrangente biblioteca padrão.">


    <!-- Site Meta -->
    <title>Django Framework, Desenvolvimento Web com Python</title>
    <meta name="keywords" content="Python, Django, Kivy, Data Science, Ciência de dados, Big Data, PostgreSql, BioPython, Pandas, Numpy, Matplotlib, C#, CSharp">
    <meta name="description" content="Django é um framework para desenvolvimento rápido para web, escrito em Python, que utiliza o padrão model-template-view (MTV). Foi criado originalmente como sistema para gerenciar um site jornalístico na cidade de Lawrence, no Kansas.Django é um framework de alto nível, escrito em Python que encoraja o desenvolvimento limpo de aplicações web.">


    <!-- Site Meta -->
    <title>Nossa equipe</title>
    <meta name="keywords" content="Professores, Doutores, Doutorado, Cursos de Especialização, Cursos Profissionais.">

    <meta name="description" content="Nossa equipe é multidisciplinar, composta de Professores Doutores em BioTecnologia, Engenharia Eletrônica, Analistas de Sistemas, Experientes Desenvolvedores de Software, especialistas em Marketing Digital, Publicitários entre outros, venha fazer parte de nossa equipe.">


    <!-- Site Meta -->
    <title>Contato</title>
    <meta name="keywords" content="Python, Django, Kivy, Data Science, Ciência de dados, Big Data, PostgreSql, BioPython, Pandas, Numpy, Matplotlib, C#, CSharp">
    <meta name="description" content="Aprenda programação Python para desenvolvimento de aplicações Desktop, Web, Mobile, Ciência de dados, Big Data,BioPython, Robótica Kids, Arduino, Marketing Digital, Front-end, PHP, Java ,Ruby e C#.">




</head>
<body>

</body>
</html>