{% extends 'escola/base.html' %}

{% block content %}

        <!--PARALLAX-->
        <section class="parallax event-section" data-stellar-background-ratio="0.5"
                 style="background-image:url('https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/parallax_01.jpeg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message event-title text-center">
                            <h3 id="frase-message-h3">Conheça nossa equipe</h3>
                            <p id="frase">Nosso time é composto de Pesquisadores, Desenvolvedores, <br>Analistas, Engenheiros de Software, Publicitários e Designers.
                            <br>Venha fazer parte desse time!</p>
                        </div>
                        <div class="btn-wrapper">
                            <div class="text-center">
                                <a href="tutorial_currency.html" class="btn btn-primary wow slideInLeft">Tutoriais</a> &nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-default wow slideInRight">Trabalhe conosco</a>
                            </div>
                    </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->


        <!--SECAO EVENTOS -->

       
        <!--SECAO EQUIPE 1-->
        <section class="section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Nossos Profissionais</h3>
                    <p>O objetivo de nossa Escola é oferecer um treinamento completo, direcionado ao cenário<br> tecnológico atual. Contamos com Profissionais altamente qualificados, cujas experiências <br>são transmitidas em nossos treinamentos. Nosso material é próprio, escrito especialmente<br> para nossos cursos.</p>
                </div><!-- end title -->

                <div class="row text-center">

                    <!--MEMBRO 1-->
                    <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/fabio_avatar_2020.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>Alguns das empresas onde trabalhei:</p>
                                        <ul class="minhas-exp">
                                            <li>Portobello Shop</li>
                                            <li>CIEnP</li>
                                            <li>Neoprospecta</li>
                                        </ul>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/frclasso"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/frclasso"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com/fabioclasso/"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.linkedin.com/in/fabio-reis-classo-46881425/"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                             <style>
                                .teamdesc p{
                                    text-align: justify;
                                }

                            </style>
                            <div class="teamdesc">
                                <h4>Fabio R. Classo </h4>
                                <small>Analista Desenvolvedor de Sistemas na <a href="https://www.nexxera.com/"><strong>Nexxera</strong></a></small>
                                <hr>
                                <ul>
                                    <li>Computação Distribuída</li>
                                    <li>AWS Amazon, Google Cloud, BackBlaze Cloud, Digital Ocean</li>
                                    <li>Docker & Vagrant</li>
                                    <li>Diretor da Escola, Desenvolvedor e Professor dos cursos da trilha Python</li>
                                </ul>
                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col -->

                    <!--MEMBRO 2 Paulo Chefaly-->
                    <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/paulo_chefaly_avatar.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>"É o trabalho desses dois Profissionais talentosos que identifica a Floripa Code Gurus <br>na internet e redes sociais. Paulo, o artista criador dos nossos designers e Juliana nossa Social Media. Confiram o trabalho dessa dupla nota 10."</p>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                            <style>
                                .teamdesc p{
                                    text-align: justify;
                                }

                            </style>
                            <div class="teamdesc">
                                <h4>Paulo Chefaly</h4>
                                <small>Publicitário e Artista Gráfico</small>
                                <hr>
                                <ul>
                                    <li>Graduado em Publicidade</li>
                                    <li>Professor de escultura tradicional</li>
                                    <li>Desenhista Ilustrador</li>
                                </ul>
                                <li><a href="https://pchefaly.wixsite.com/portifolio"><strong>Portifólio</strong></a></li>
                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col -->

                    <!--MEMBRO 3 Juliana-->
                    {% comment %} <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/juliana_avatar.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>"É o trabalho desses dois Profissionais talentosos que identifica a Floripa Code Gurus <br>na internet e redes sociais. Paulo, o artista criador dos nossos designers e Juliana nossa Social Media. Confiram o trabalho dessa dupla nota 10."</p>
                                        <div class="social-links">
                                            <a href="https://api.whatsapp.com/send?phone=554891050130"><i class="fa fa-whatsapp"></i></a>

                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                            <style>
                                .teamdesc p{
                                    text-align: center;
                                }

                            </style>
                            <div class="teamdesc">
                                <h4>Juliana Quentin Chefaly</h4>
                                <small>Mídias Sociais</small>
                                <hr>
                                <ul>
                                    <li>Graduada em Turismo e Hotelaria.</li>
                                    <li>Pós Graduação em Marketing de Relacionamento</li>
                                </ul>

                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col --> {% endcomment %}

                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <!--SECAO EQUIPE 2-->
        <section class="section" id="equipe2">
            <div class="container">
<!--                <div class="section-title text-center">-->
<!--                    <h3>Publicidade & Marketing</h3>-->
<!--                    <p>É o trabalho desses dois Profissionais talentosos que identifica a Floripa Code Gurus <br>na internet e redes sociais. Paulo, o artista criador dos nossos designers e Juliana <br>nossa Social Media. Confiram o trabalho dessa dupla nota 10. </p>-->
<!--                </div> &lt;!&ndash; end title &ndash;&gt;-->
                <div class="row text-center">

                <!--MEMBRO 4 Paulo Sergio-->
                    <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/paulo_schlogl_avatar.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>"BioTecnologia, Farmacologia e Genética"</p>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.linkedin.com/in/pauloschlogl/"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                            <style>
                                .teamdesc p{
                                    text-align: justify;
                                }

                            </style>

                            <div class="teamdesc">
                                <h4>Dr. Paulo Sérgio Schlögl </h4>
                                <small>Biólogo Molecular</small>
                                <hr>
                                <ul>
                                    <li>Pós-doutorado no IQ-USP e no Depto de Fitotecnia/CCA-UFSC</li>
                                    <li>Doutor em Ciências Biológicas (Genética) - UNICAMP</li>
                                    <li>Mestre em Biotecnologia - UFSC</li>
                                    <li><a href="https://bv.fapesp.br/pt/pesquisador/13459/paulo-sergio-schlogl/"> Curriculum Lattes</a></li>
                                    <li>Desenvolvedor e Professor do curso de <a href="biopython1.html">BioPython</a></li>
                                </ul>
                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col -->

                <!--MEMBRO 5 Guilherme-->
                    <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/gulherme_matsumoto.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>"Desenvolvedor desde de 2006,trabalhei nas empresas OnCast, Resultados Digitais, core team da Toptal e atualmente LondonTrustMedia"</p>
                                        <div class="social-links">
                                            <a href="https://api.whatsapp.com/send?phone=5548 96199163"><i class="fa fa-whatsapp"></i></a>
                                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                             <style>
                                .teamdesc p{
                                    text-align: justify;
                                }

                            </style>
                            <div class="teamdesc">
                                <h4>Guilherme Matsumoto</h4>
                                <small>Cientista da Computação</small><br>
                                <hr>
                                <ul>
                                    <li>Desenvolvedor Ruby & Rails</li>
                                    <li>Palestrante Ruby Conf SP</li>
                                    <li>Palestrante TDC 2015</li>
                                    <li>Business Inteligence</li>
                                    <li>Design Thinking</li>
                                    <!--<li>Test Driven Development</li>
                                    <li>Clean Code</li>
                                    <li>Marketing Digital e de conteúdo</li>
                                    <li>Metodologias Ágeis</li>
                                    <li>GoodData BI</li>-->
                                </ul>
                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col -->

                    <!--MEMBRo 6 Marcelo Masera-->
                    <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/marcelomasera.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>"Economia, Mercado Financeiro, Big Data, Python e Matlab"</p>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/marcelo.maseradealbuquerque"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com/marcelomasera/"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.linkedin.com/in/marcelo-masera-de-albuquerque-0789b151/"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                            <style>
                                .teamdesc p{
                                    text-align: justify;
                                }

                            </style>
                            <div class="teamdesc">
                                <h4> Marcelo Masera</h4>
                                <small>Economista</small>
                                <hr>
                                <ul>
                                    <li>Mestre em Economia pela UFSC</li>
                                    <li>Researcher</li>
                                    <li>Matlab e Python</li>
                                </ul>
                                <li><a href="http://lattes.cnpq.br/9947097094385521"><strong>Curriculum Lattes</strong></a></li>
                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col -->

                </div>
            </div>
        </div>
    </section>   <!--END SECAO EQUIPE 2-->


    <!--SECAO EQUIPE 3-->
        <section class="section" id="equipe2">
            <div class="container">
                <div class="row text-center">


                    <!--MEMBRo 7 Cristiane Ruedieger-->
                    <div class="col-md-4 col-sm-6">
                        <div class="teammembers">
                            <div class="entry">
                                <img src="https://f001.backblazeb2.com/file/site-code-gurus/uploads-folder/cristiane_avatar.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="visible-buttons1 teambuttons">
                                        <p>Implementation Analyst at Softplan Planejamento e Sistemas</p>
                                        <div class="social-links">
                                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                            <a href="linkedin.com/in/cristiane-ruedieger-990510118"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- end social -->
                                    </div>
                                </div>
                            </div><!-- end box -->

                             <style>
                                .teamdesc p{
                                    text-align: justify;
                                }

                            </style>
                            <div class="teamdesc">
                                <h4>Cristiane Ruedieger</h4>
                                <small>Editora de conteúdo</small>
                                <hr>
                                <ul>
                                    <li>Bacharel em Design de Moda</li>
                                    <li>Graduanda em Sistemas de Informação</li>
                                    <li>Implementation Analyst at Softplan Planejamento e Sistemas</li>
                                </ul>
                            </div><!-- end teamdesc -->
                        </div><!-- end teammembers -->
                    </div><!-- end col -->



                </div> <!-- end row-->
            </div> <!--end container-->
        </section> <!-- end section equipe 3-->


        <!--VAGAS ABERTAS-->
        <section class="vagas">
            <style>
                .vagas{
                    text-align: center;
                    background-color: #fff;
                }
                .vagas .container h3{
                    font-size: 30px;
                    font-weight: 700;
                }
             </style>
            <div class="container">
                <hr>
                <h3>Nossas vagas</h3>
                <p>Procuramos profissionais para integrar nossa equipe de Professores bem como nossa equipe Desenvolvimento.</p>
                <p>Se você é daqueles que gosta de trabalhar em equipe e pensa em crescer junto, você é dos nossos!</p>

                <br>
                    <p>Professor de Ciência de Dados</p>
                    <p>Professor de Front-end (JS + HTMl + CSS)</p>
                    <p>Professor de PHP Laravel</p>
                    <p>Professor de Marketing Digital</p>
                <hr>
                <small>Interessados enviar curriculum para<br> administracao@floripacodegurus.com.br</small>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>
{% endblock content %}
