{% load static %}
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Meta -->
    <title>Tutoriais</title>
    <meta name="keywords" content="Python, Django, Kivy, Data Science, Ciência de dados, Big Data, PostgreSql, BioPython, Pandas, Numpy, Matplotlib, C#, CSharp, Tutoriais, Conteúdo gratuito">

    <meta name="description" content="Aprenda programação Python para desenvolvimento de aplicações Desktop, Web, Mobile, Ciência de dados, Big Data,BioPython, Robótica Kids, Arduino, Marketing Digital, Front-end, PHP, Java ,Ruby e C#. Toda semana um novo tutorial, nos conteúdos novas técnicas, acompanhe-nos e participem de nossos treinamentos.">
    <meta name="author" content="Floripa Code Gurus">

    <meta name="robots" content="index,follow" />

    <!--SITE LOCK VEIRIFICATION-->
    <meta name="sitelock-site-verification" content="9462" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/escola/static/css/images/favicon.ico" type="image/x-icon" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139868810-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-139868810-1');
    </script>

    <meta name="google-site-verification" content="UPyBbVphEji-ucJT4hbC5X4PuJXxGKVJpEdN1fOhFuM" />
    <link rel="stylesheet" href="{% static 'escola/css/mobile.css' %}" media="screen and (max-width: 480px)">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/mystyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'escola/css/style.css' %}">
</head>
