{% extends 'tutoriais/base_tutoriais.html' %}

{% block content %}

<section class="section db p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3>Tutoriais</h3>
                            <ul class="breadcrumb">
                                <li><a href="{% url 'indice' %}">Home</a></li>
                                <li><a href="{% url 'tutoriais' %}">Tutoriais</a></li>
                                <li class="active">Histogramas</li>
                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="boxed">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="content blog-list">
                                <div class="blog-wrapper clearfix">
                                    <div class="blog-meta">
                                        <small><a href="#">Tips & Tricks</a></small>
                                        <h3>Histogramas parte 1</h3>
                                        <ul class="list-inline">
                                            <li>02 de junho de 2019</li>
                                            <li><span>escrito por:</span> <a href="#">Fabio Classo</a></li>
                                        </ul>
                                    </div><!-- end blog-meta -->

                                     <div class="tags-widget">   
                                            <ul class="list-inline">
                                                <li><a href="../python1.html">python</a></li>
                                                <li><a href="../python2.html">Pandas</a></li>
                                                <li><a href="../python2.html">Numpy</a></li>
                                                <li><a href="../python2.html">Matplotlib</a></li>
                                                <li><a href="../python2.html">Data Science</a></li>
                                                <li><a href="../python2.html">Analise de dados</a></li>
                                                <!-- <li><a href="#">development</a></li>
                                                <li><a href="#">language</a></li> -->
                                            </ul>
                                        </div><!-- end list-widget -->

                                    <hr class="invis">
                                    <h4>Neste tutorial vamos falar de Histogramas, o que são e como utilizá-los em Python.</h4>

                                <p id="tutoriais-p">O histograma, também conhecido como distribuição de frequências, é a representação gráfica em colunas ou em barras (retângulos) de um conjunto de dados previamente tabulado e dividido em classes uniformes ou não uniformes. A base de cada retângulo representa uma classe. A altura de cada retângulo representa a quantidade ou a frequência absoluta com que o valor da classe ocorre no conjunto de dados para classes uniformes ou a densidade de frequência para classes não uniformes. Importante ferramenta da <b>Estatística</b>, o histograma também é uma das chamadas sete ferramentas da qualidade.</p>
                                <hr class="invis">
                                <p id="tutoriais-p">Utilizaremos uma base de dados em formato .csv, que você pode <a href="https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/data.csv">baixar aqui</a> caso deseje.</p>


                                <p id="tutoriais-p">Quando o volume de dados aumenta indefinidamente dentro do conjunto de dados e o intervalo de classes tende a zero (o que torna os retângulos cada vez mais finos e altos), a distribuição de frequência torna–se uma distribuição de densidade de probabilidades. A construção de histogramas tem caráter preliminar em qualquer estudo e é um importante indicador da distribuição de dados. Os histogramas podem indicar se uma distribuição se aproxima de uma função normal, assim como também podem indicar a mistura de populações quando se apresentam bimodais.</p>

                                <h4>Antes de mais nada vamos precisar das seguintes bibliotecas:</h4>
                                <ul id="tutorial-ul" >
                                    <li>Pandas</li>
                                    <li>Matplotlib</li>
                                    <li>Seaborn</li>
                                </ul>

                                <textarea id="area-texto"rows="3">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
                                </textarea>
                                <hr class="invis">
                                <h4>Adicionandos nossa origem de dados:</h4>
                                <ul id="tutorial-ul"><li>data_url = 'http://bit.ly/2cLzoxH'</li></ul>

                                <h4>Usamos a função read_csv para ler os dados do arquivo, salvando na variável gapminder</h4>
                                <ul id="tutorial-ul"><li>gapminder = pd.read_csv(data_url)</li></ul>

                                <textarea id="area-texto" rows="5">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
                                </textarea>
                                <hr class="invis">
                                <h4>Por padrao, a função head lê as 5 primeiras linhas do arquivo, aqui definimos como 3</h4>
                                <ul id="tutorial-ul"><li>gapminder.head(n=3)</li></ul>

                                <hr class="invis">
                               <h4> Usamos a  função <b>.hist</b> de matplotlib para converter em histogramas a coluna <b>'lifeExp'</b>.</h4>
                               <textarea id="area-texto" rows="5">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder['lifeExp'].hist(bins=100)
                                </textarea>
                                <h4>E por fim usamos a função <b>plt.show</b>, de matplotlib, para exibir a plotagem</h4>
                                <h3>Histograma 1</h3>
<textarea id="area-texto" rows="5">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder['lifeExp'].hist(bins=100)
plt.show()
                                </textarea>
                                <hr class="invis">
                                <h4 id="histo">Gerando a imagem abaixo.</h4>

                                <!--IMAGEM 0 -->
                                    <div class="blog-media">
                                        <img src="https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/tutoriais_python_Figure_0.png" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->

                                    <br>
                                    <br>
                                    <hr class="invis">
                                    <h3>Histograma 2</h3>
                                    <textarea id="area-texto" rows="5">
import pandas as pd
import matplotlib.pyplot as plt
data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder.head(n=3)
gapminder['lifeExp'].hist(bins=100, grid=False, xlabelsize=12,ylabelsize=12)
plt.xlabel("Expectativa de vida", fontsize=15)
plt.ylabel("Frequencia", fontsize=15)
plt.xlim([22.0,90.0])
plt.show()
                                    </textarea>
                                    <hr class="invis">
                                    <ul id="tutorial-ul">
                                    <li>grid=False, retira as linhas de grade</li>
                                    <li># xlabel => define um campo com o testo 'Expectativa de vida" no eixo "x"</li>
                                    <li># ylabel => define um campo com o testo "Frequencia" no eixo "y"</li>    
                                    </ul>
                                    
                                    <h4 id="histo">Gerando a imagem abaixo.</h4>     
                                    <!--IMAGEM 1 -->
                                    <div class="blog-media">
                                        <img src="https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/tutoriais_python_Figure_1.png" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->

                                </div><!-- end blog -->
                            </div><!-- end content -->


                            <br>
                            <br>
                            <hr class="invis">
                            <h3>Histograma 3</h3>

                            <textarea id="area-texto"rows="5">
import pandas as pd
import matplotlib.pyplot as plt

data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder.head(n=3)

gapminder['gdpPercap'].hist(bins=100, grid=False)
plt.xlabel("gdpPercapta", fontsize=15)
plt.ylabel("Frequencia", fontsize=15)
plt.xscale('log')

plt.show()
    </textarea> 
                            <hr class="invis">
                            <ul id="tutorial-ul">
                                <li>Aqui alteramos gapminder para a coluna <b>gdpPerCap</b>, teremos outro resultado</li>
                                <li>Alteramos a escala para 'log' de logaritmica</li>    
                            </ul>
                            

                            <h4 id="histo">Gerando a imagem abaixo.</h4>
                            <!--IMAGEM 2 -->
                            <div class="blog-media" id='img-4'>
                                        <img src="
                                            https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/tutoriais_python_Figure_2.png" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->

                                    <br>
                                    <br>
                                    <hr class="invis">
                                    <h3>Histograma 4</h3>
                                    <textarea id="area-texto" rows="8">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder.head(n=3)
sns.distplot(gapminder['lifeExp'], kde=False, color='red', bins=100) 
plt.title('Life Expetancy', fontsize=18)
plt.xlabel('Expectativa de vida[anos]', fontsize=16)
plt.ylabel('Frequencia', fontsize=16)
plt.show()
                                    </textarea>
                                    <hr class="invis">
                                    <ul id="tutorial-ul">
                                        <li>kde=False, desativa o grafico com linhas</li>
                                    </ul>
                                    <!--IMAGEM 3 -->
                                    <h4 id="histo">Gerando a imagem abaixo.</h4>
                                    <div class="blog-media" id="img-4">
                                        <img src="
                                            https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/tutoriais_python_Figure_3.png" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->

                                    <br>
                                    <br>
                                    <hr class="invis">
                                    <h3>Histograma 5</h3>
                                    <!--IMAGEM 4 -->
                                    <textarea id="area-texto" rows="8">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder.head(n=3)

df = gapminder[gapminder.continent == 'Africa']  
sns.distplot(df['lifeExp'], kde=False, label='Africa')

df = gapminder[gapminder.continent == 'Americas']  
sns.distplot(df['lifeExp'], kde=False, label='Americas')

plt.legend(prop={'size':12})
plt.title('Expectativa de vida em dois continentes')
plt.xlabel('Expectativa de vida(anos)')
plt.ylabel('Densidade')

plt.show()

                                    </textarea>
                                    <hr class="invis">
                                    <ul id="tutorial-ul">
                                        <li>Criando um Pandas DataFrame, utilizando a coluna 'Africa', <b>gapminder.continent == 'Africa'</b></li>
                                        <li>Um segundo DataFrame é criado utilizando a coluna 'Americas', <b>gapminder.continent == 'Americas'</b></li>
                                    </ul>

                                    <!--IMAGEM 0 -->
                                    <h4 id="histo">Gerando a imagem abaixo.</h4>
                                    <div class="blog-media" id="img-5">
                                        <img src="
                                            https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/tutoriais_python_Figure_4.png" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->


                                    <br>
                                    <br>
                                    <hr class="invis">
                                    <h3>Histograma 6</h3>
                                    <!--IMAGEM 5 -->
                                    <textarea id="area-texto" rows="8">
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder.head(n=3)

df = gapminder[gapminder.continent == 'Africa']
sns.distplot(df['lifeExp'], hist=False, kde=True, label='Africa') 

df = gapminder[gapminder.continent == 'Americas']
sns.distplot(df['lifeExp'], hist=False, kde=True, label='Americas') 

plt.legend(prop={'size': 12})
plt.title('Expectativa de vida vs Continentes')
plt.xlabel('Exptativa (anos)')
plt.ylabel('Densidade')

plt.show()
                                    </textarea>
                                    <hr class="invis">
                                    <ul id="tutorial-ul">
                                        <li>hist=False, desabilita a exibicao do hstograma</li>
                                        <li>kde=True, habilita graficos de linhas</li>
                                    </ul>
                                     <hr class="invis">
                                     <h4 id="histo">Gerando a imagem abaixo.</h4>
                                    <div class="blog-media" id="img-6">
                                        <img src="        
                                    https://f001.backblazeb2.com/file/Floripa-Code-Gurus-Tutoriais/histogramas/h1/tutoriais_python_Figure_5.png" alt="" class="img-responsive img-rounded">
                                    </div><!-- end media -->

                            <br>
                            <br>
                            <hr class="invis">

                        </div><!-- end col -->

{% endblock content %}
