{% extends 'tutoriais/base_tutoriais.html' %}

{% block content %}
        
<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>Tutoriais</h3>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'indice' %}">Home</a></li>
                        <li class="active">Tutoriais</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed">
            <div class="row">
                <div class="col-md-8">

                    {% for tutorial in tutoriais %}
                    <div class="content blog-list">
                        <div class="blog-wrapper clearfix">
                            <div class="blog-meta">
                                <small><a href="#">{{ tutorial.categoria }}</a></small>
                                <h3 id="tutoriais-h3">
                                    <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="">{{ tutorial.titulo }}</a>
                                </h3>
                                <ul class="list-inline">
                                    <li>{{ tutorial.data_criacao|date:"d \d\e F \d\e Y" }}</li>
                                    <li><span>escrito por:</span> 
                                        {% if tutorial.autor.autor_picture %}
                                            <img src="{{ tutorial.autor.autor_picture.url }}" alt="{{ tutorial.autor.first_name }}" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px; vertical-align: middle;">
                                        {% endif %}
                                        <a href="#">{{ tutorial.autor.first_name }} {{ tutorial.autor.last_name }}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="blog-media">
                                <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" title="">
                                    {% if tutorial.imagem %}
                                        <img src="{{ tutorial.imagem.url }}" alt="{{ tutorial.titulo }}" class="img-responsive img-rounded">
                                    {% else %}
                                        <img src="https://via.placeholder.com/800x400?text=Tutorial" alt="{{ tutorial.titulo }}" class="img-responsive img-rounded">
                                    {% endif %}
                                </a>
                            </div>

                            <div class="blog-desc-big">
                                <p class="lead">{{ tutorial.descricao|truncatewords:20 }}</p>
                                <p id="tutoriais-p">
                                    {% if tutorial.introducao %}
                                        {{ tutorial.introducao|striptags|truncatewords:30 }}
                                    {% else %}
                                        {{ tutorial.descricao|truncatewords:50 }}
                                    {% endif %}
                                </p>
                                <a href="{% url 'tutoriais_detalhe' tutorial.slug %}" class="btn btn-primary">Leia mais</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="content blog-list">
                        <p>Nenhum tutorial encontrado.</p>
                    </div>
                    {% endfor %}

                    <!-- Paginação (você pode implementar depois) -->
                </div>

{% endblock content %}
