{% extends "escola/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'escola/css/mystyle.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <form method="POST" class="login-form">
        {% csrf_token %}
        <h2 class="login-title">Sign In</h2>
        
        <div class="form-field">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
        </div>
        
        <button type="submit" class="login-btn">Login</button>
    </form>
</div>
{% endblock %}